<div id="nav_bar">
  <nav>
    <div class="nav-wrapper container">
      <a href="/" class="brand-logo">OTC</a>
      <a href="#" data-activates="mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/dashboard">Dashboard</a></li>
        <li>
          <a href="/" class="waves-effect waves-light btn">Log Out</a>
        </li>
      </ul>
      <ul class="side-nav" id="mobile">
        <li><a href="/dashboard">Dashboard</a></li>
        <li>
          <a href="/" class="waves-effect waves-light btn">Log Out</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
