<% layout('main') -%>

<div id="seminars" class="container">

  <%- include ../../../partials/seminars/utilities/modal %>

  <h2>Powdered Seminar</h2>

  <%- include ../../../partials/seminars/utilities/classList %>

</div>
