
  <% classData.forEach((el) => { %>
    <h2>
      <% classData.forEach((el) => { %>
        <% switch ( el.class_type ) {
          case "handcraft_3days": %>
            Handcraft 3 Days Seminar
            <% break;
          case "handcraft_5days": %>
            Handcraft 5 Days Seminar
            <% break;
          case "machine_3days": %>
            Machine 3 Days Seminar
            <% break;
          case "machine_5days": %>
            Machine 5 Days Seminar
            <% break;
          case "6D_Hybrid": %>
            6D Hybrid 5 Days Seminar
            <% break;
          case "powdered": %>
            Advanced Powdered
            <% break;
          case "lips": %>
            Advanced Lips
            <% break;
          case "eyeliners": %>
            Advanced Eyeliners
            <% break;
          case "areola": %>
            Advanced Areola
            <% break;
          case "hairline": %>
            Advanced Hairline
            <% break;
          case "others": %>
            Others
            <% break;
          default: %>
            No Seminar
            <% break;
         } %>
      <% }) %>
    </h2>
    <div class="row">
      <div class="col s6">
        <label for="">Seminar Type</label>
        <h5><%= el.class_type %></h5>
      </div>
      <div class="col s6">
        <label for="">Seminar Date</label>
        <h5><%= el.class_date %></h5>
      </div>
    </div>

    <div class="row">
      <div class="col s6">
        <label for=""># of Attendees</label>
        <% if (el.class_attendee === null) { %>
          <p> 0 / 10</p>
        <% } else { %>
          <p><%= attendeeData.length %> / 10</p>
        <% } %>
      </div>
      <!-- <div class="col s6">
        <label for="">Completed</label>
        <% if (el.class_completed === false || el.class_completed === null) { %>
          <p> NO </p>
        <% } else { %>
          <p> YES </p>
        <% } %>
      </div> -->
    </div>
  <% }) %>
