<% layout('main') -%>

<div id="dashboard">

  <!-- partials -->
  <h2>Dashboard</h2>

  <div class="row">
    <div class="col s12 m4 l3">
      <a href="/seminars/hairstrokes">
        <div class="card">
          <div class="card-image">
            <img src="http://materializecss.com/images/sample-1.jpg">
          </div>
          <div class="card-action center">
            <a href="/seminars/hairstrokes">Hair Strokes</a>
          </div>
        </div>
      </a>
    </div>

    <div class="col s12 m4 l3">
      <a href="/seminars/powdered">
        <div class="card">
          <div class="card-image">
            <img src="http://materializecss.com/images/sample-1.jpg">
          </div>
          <div class="card-action center">
            <a href="/seminars/powdered">Powdered</a>
          </div>
      </div>
      </a>
    </div>

    <div class="col s12 m4 l3">
      <a href="/seminars/lips">
        <div class="card">
          <div class="card-image">
            <img src="http://materializecss.com/images/sample-1.jpg">
          </div>
          <div class="card-action center">
            <a href="/seminars/lips">Lips</a>
          </div>
        </div>
      </a>
    </div>

    <div class="col s12 m4 l3">
      <a href="/seminars/eyeliners">
        <div class="card">
          <div class="card-image">
            <img src="http://materializecss.com/images/sample-1.jpg">
          </div>
          <div class="card-action center">
            <a href="/seminars/eyeliners">Eyeliners</a>
          </div>
        </div>
      </a>
    </div>

    <div class="col s12 m4 l3">
      <a href="/seminars/areola">
        <div class="card">
          <div class="card-image">
            <img src="http://materializecss.com/images/sample-1.jpg">
          </div>
          <div class="card-action center">
            <a href="/seminars/areola">Areola</a>
          </div>
        </div>
      </a>
    </div>

    <div class="col s12 m4 l3">
      <a href="/seminars/hairline">
        <div class="card">
          <div class="card-image">
            <img src="http://materializecss.com/images/sample-1.jpg">
          </div>
          <div class="card-action center">
            <a href="/seminars/hairline">Hairline</a>
          </div>
        </div>
      </a>
    </div>
  </div>

</div>
