<% layout('main') -%>
<%- include ../../../partials/seminars/class/breadcrumbs %>

<div id="seminars" class="container">

  <%- include ../../../partials/seminars/class/modal %>

  <h2>Basic Hair Strokes Class</h2>

  <%- include ../../../partials/seminars/class/classInfo %>

  <h4 class="center">Seminar Attendees</h4>

  <%- include ../../../partials/seminars/class/attendeeInfo %>


</div>
