<% layout('main') -%>

<%- include ../../../partials/seminars/hairstrokes/breadcrumbs %>

<div id="seminars" class="container">

  <!-- partials -->
  <%- include ../../../partials/seminars/hairstrokes/modal %>

  <h2>Hair Stroke Seminars</h2>

  <%- include ../../../partials/seminars/hairstrokes/table %>


</div>
