<% layout('main') -%>

<div id="seminars" class="container">

  <%- include ../../partials/seminars/class/modal %>

  <div class="empty"></div>

  <%- include ../../partials/seminars/class/classInfo %>

  <div class="divider center"></div>

  <h4 class="center">Seminar Attendees</h4>

  <%- include ../../partials/seminars/class/attendeeInfo %>


</div>
