<% layout('main') -%>

<div id="seminars">

  <div class="fixed-action-btn horizontal">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">add</i>
    </a>
  </div>

  <!-- partials -->
  <h2>6D Hybrid Seminar</h2>

</div>
