<!-- Modal Trigger -->
<div class="fixed-action-btn horizontal">
  <a class="btn-floating btn-large red modal-trigger" href="#modal1">
    <i class="large material-icons">add</i>
  </a>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Add New Seminar</h4>

    <div class="row">
      <form method="post" class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <select name="seminar">
              <option value="" disabled selected>Choose your option</option>
              <option value="handcraft_3days">Handcraft 3 Days Seminar</option>
              <option value="handcraft_5days">Handcraft 5 Days Seminar</option>
              <option value="machine_3days">Machine 3 Days Seminar</option>
              <option value="machine_5days">Machine 5 Days Seminar</option>
              <option value="6D_Hybrid">6D Hybrid Seminar</option>
              <option value="powdered">Powdered</option>
              <option value="lips">Lips</option>
              <option value="eyeliners">Eyeliners</option>
              <option value="areola">Areola</option>
              <option value="hairline">Hairline</option>
              <option value="others">Others</option>
            </select>
            <label>Seminar Type</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input name="date" type="text" class="datepicker">
            <label for="date">Date</label>
          </div>
        </div>

        <button class="btn waves-effect waves-light modal-close right" type="submit">Submit
          <i class="material-icons right">send</i>
        </button>

      </form>
    </div>

  </div>

</div>
<!-- Modal Structure Ends -->
