<% layout('main') -%>
<%- include ../../../partials/seminars/utilities/breadcrumbs %>

<div id="seminars" class="container">

  <%- include ../../../partials/seminars/utilities/modal %>

  <h2>Hairline Seminar</h2>

  <%- include ../../../partials/seminars/utilities/classList %>

</div>
