@import "variables";

// Main basic stylings
body {

  #hidden_input{
    border-bottom: none;
    height: 0;
    width: 0;
    margin: 0;
  }

  #action_buttons{
    display: inline-flex;
    form{
      padding-right: 10px;
    }
  }

  #update_form{
    margin-top: 10%;
    h5{
      text-align: center;
      padding-bottom: 50px;
    }
  }

  #breadcrumb{
    background-color: rgba(238, 110, 115, 0.7);
  }

  .divider{
    display: block;
    width: 30%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-bottom-style: solid;
    border-color: rgba(238, 110, 115, 0.7);
  }

  #modalPaddings{
    margin: 25px 0px;
  }

}
